.PrimaryButton {
    display: flex;
    flex-direction: column;
    position: relative;
    width:318px;
    height: 105px;
    border-radius: 50px;
    overflow: hidden;
    &:after{
        content:'';
        position: absolute;
        border-radius: inherit;
        bottom: 0;
        right: 0;
        width: 100%;
        z-index: -1;
    }
    &:before{
        content:'';
        position: absolute;
        border-radius: inherit;
        bottom: 0;
        right: 0;
        height: 100%;
        width: 100%;
        z-index: -1;
    }
    span {
        color: white;
        font-size: 1.2rem;
        font-weight: bold;
        margin: auto;
    }
}