Header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 2rem;
    width: 100%;
    z-index: 2;
    #Menu{
        display: flex;
        align-items: center;
        position: relative;
        background-color: transparent;
        left: 9rem;
        top: 1.3rem;
        img {
            margin:0 0rem 0rem 6rem;
            width: 22rem;
        }
    }
    #Menu_Nav {
        display: flex;
        align-items: center;
        position: fixed;
        right: 9rem;
        nav {
            margin: 0rem 12rem 0 0;
            font-size: 2rem;
            font-weight: bold;
        }
        a {
            margin: 0 2rem 0 0;
            img {
                width: 3rem;
                height: 3rem;
            }

        }
    }
}