canvas {
    position: absolute;
    z-index: -1;
}
main {
    position: relative;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 0.29fr 1fr 40vw;
    grid-template-rows: 1fr;
    align-items: center;
    #ProductDetails {
        display: flex;
        flex-direction: column;
        .Heading {
            font-size: 12rem;
            font-weight: bold;
        }
        .Description {
            font-variant: petite-caps;
            color:#818181;
            div{
                display: flex;
                font-size: 2rem;
                flex-direction: column;
                flex-wrap: wrap;
                height: 150px;
                width: fit-content;
            }

        }
    }

}